body {
  font-size: 16px;

  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: yellow;
	border: 0;
	border-bottom: 1px gray solid;
	/*padding: 10px;*/

}
.navbar-brand {
	margin: 7px;
}
.navbar-brand h1{
	font-family: 'Lora', serif;
	text-shadow: 1px 1px 1px #222;
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	line-height: .55;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
  padding: 10px;
}
#nav-list a {
  text-align: center;
}
.navbar-toggle span{
	padding-top: 3px;

}
#nav-list a:hover {
  background: #E7E7E7;
}

/* end HEADER*/

/*body*/
.jumbotron{
	padding-top: 0;
	background-color: white;
}
h2{
	font-size: 1.8em;	
	font-weight: bold;
}

.contenido{
	height: 100%;
	border:1px gray solid;
	background-color: gray;
	margin-top: 5%;
	margin-bottom: 9%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 5%;

}
.contenido p{
	color: white;
}
.contenido h3{
	padding-bottom: 3%;

}


@media (max-width: 767px) {

	#nav-list {
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 0;
	}
	ul, li{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	#collapsable-nav{
		background-color:white;
	}
	li{
		border: 1px gray solid;
	}
}